/* Mise en page du site de meetspace */
.navbar-fixed-top {
  border-width: 0px 0px 0px;

}


img{
  text-align: center;
}
h1{	

  text-align: center;
  min-height: 100px;
}

footer{
margin-top: 40px;
}

.searchResult{
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;

  border-radius:10px;
  background-color: #e1e1e1;
  opacity: 0.80;
  min-height: 100px;
}

.searchResult:hover{
  background-color:white;
  opacity: 1;
}

.searchResult > h3{
  text-align: center;
}

.project {

  border-radius:10px;
  text-align: center;
  min-height: 225px;
  opacity: 0.80;
  width: 225px;
  margin-top: 10px;
}

.project:hover {
  background-color:white;
  opacity: 1;
  border: 1px solid #e1e1e1;
}

.project form{
  padding:10px;
}
.project input{
  margin-bottom: 10px;
}

.topbar{
margin-bottom: 60px;
}
.listBouton{
  margin-bottom: 10px;
}
/* Propriété des projets affiché à droite dans le profil*/
.profile_viewProjectList{
  list-style-type: none;
  text-align: center;
  display: block;
}

li.profile_viewProject{
  margin-bottom: 5px;
  margin-left: -30px;
  min-width: 150px;
  min-height: 50px;
  margin-bottom: 10px;
}

li.profile_viewProject:hover{
  background-color: rgb(229,229,229)}

.profile_viewProject_name{
  margin: 2px;
  font-size: 14px;
  color: black;
}
.profile_viewProject_description{
  color: #666;
  margin: 2px;
  font-size: 12px;
  font-style:italic;
}
.profile_viewProject_img{
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
}
