/* Mise en page du site de meetspace */
/*body{
    background-image: url('');
    background-repeat: no-repeat;
    background-color: none;
    background-attachment:fixed;

}*/

img{
  text-align: center;
}
h1{	

  text-align: center;
  min-height: 100px;
}

footer{
margin-top: 40px;
}

.searchResult{
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;

  border-radius:10px;
  background-color: #e1e1e1;
  opacity: 0.80;
  min-height: 100px;
}

.searchResult:hover{
  background-color:white;
  opacity: 1;
  border: 1px solid black;
}

.searchResult > h3{
  text-align: center;
}
.profil_project{
    border: 1px solid black;
    padding: 2px;
}

.project {

  border-radius:10px;
  text-align: center;
  background-color: #e1e1e1;
  min-height: 225px;
  opacity: 0.80;
  width: 225px;
  margin-top: 10px;
}

.project:hover {
  /*Jolie bleu - background-color:#8AA3C8;*/ 
  background-color:#BEBEBE;
  opacity: 1;

	border: 1px solid black;
}

.project form{
  padding:10px;
}
.project input{
  margin-bottom: 10px;
}

.topbar{
margin-bottom: 60px;
}
/*
html, body, .container {
  height: 100%;
}
textarea.form-control {
  height: 100%;
}*/
