/* Mise en page du site de meetspace */

img{
  text-align: center;
}
h1{	

  text-align: center;
  min-height: 100px;
}

.project {
  /*Jolie bleu - background-color:#8AA3C8;*/ 
  border-radius:10px;
  text-align: center;
  background-color: #e1e1e1;

  min-height: 225px
}
/*
html, body, .container {
  height: 100%;
}
textarea.form-control {
  height: 100%;
}*/